.chat-area{
  display: flex;
  height: 95vh;
  border: 1px solid rgb(204, 204, 203);
  border-top: none;
  justify-content: center;
}

.sidebar {
  /* height: 550px; */
  width: 10%;
  background-color: #fdfdfd !important;
}
.user-photo{
  height: 10%;
  margin: 0 10%;
  text-align: center;
  border-bottom: 1px solid rgb(204, 204, 203);
}
.photo{
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}
.new-buttons {
  display: none;
}
.fa-comment-medical, .fa-power-off, .fa-users, .fa-comment{
  color: #ececec;
  display: block;
  text-align: center;
  margin: 20% 0;
  font-size: 50px;
  cursor: pointer;
}
.fas:hover{
  color: #60bfff;
}

.list-area {
  width: 20%;
  /* height: 550px; */
  margin: 0 auto;
}

.list-name{
  height: 10%;
  margin: 0 5%;
  border-bottom: 1px solid rgb(204, 204, 203);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  color: rgb(204, 204, 203);
}

.people-online-area {
  height: 90%;
  overflow-y: auto;
}

.dialogs-area {
  height:90%;
  overflow-y: auto;
}





.messages{
  /* height: 550px; */
  width: 50%;
  background-color: #fdfdfd !important;
}
.dialog-name {
  height: 10%;
  margin: 0 5%;
  border-bottom: 1px solid rgb(204, 204, 203);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  color: rgb(204, 204, 203);
}

.chat-window {
  height: 80%;
  overflow: auto;
  margin: 0 5%;
}

.message-area {
  height: 10%;
  margin: 0 5%;
  border-top: 1px solid rgb(204, 204, 203);
}
.message-form{
  padding: 1%;
  display: flex;
  justify-content: space-around;
}
.send-message{
  border: none;
  background: none;
}
.fa-paper-plane{
  font-size: 33px;
  color: #ececec;
  cursor: pointer;
  text-align: center;
}

.input-message {
  width: 85%;
  margin-right: 10px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-height: 550px) {
	.fa-paper-plane {
		font-size: 25px;
	}
	.input-message {
		font-size: 10px;
  }
  .fa-comment-medical, .fa-power-off, .fa-users, .fa-comment{
   font-size: 30px;
  }
  .photo {
    max-width: 27px;
    max-height: 27px;
  }
  .list-name, .dialog-name{
    padding: 5px 0;
  }
}

@media (max-height: 400px) {
	.fa-paper-plane {
		font-size: 20px;
	}
	.input-message {
		font-size: 6px;
  }
  .list-name, .dialog-name{
    padding: 0;
  }
}

@media (max-width: 800px) {
	.new-buttons {
    display: initial;
  }
  .non-display {
    display: none;
  }
  .sidebar{
    width: 25%;
  } 
  .messages, .list-friends, .dialogs-list {
    width: 75%;
  }
  .chat-area{
    height: 85vh;
    
  }
}