#auth {
  max-width: 370px;
  box-shadow: 0 0 8px #d7d6d6;
  margin: 20px auto;
  background-color: white;
  border-radius: 5px;
}
.form-group{
  margin: 0 auto;
  width: 70%;
}
.login {
  color: #0bb3ff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 100%
}
.label{
  color: #0bb3ff;
}
.my-input{
  border-color: #0bb3ff;
  border-top: none;
  border-left: none;
  border-right: none;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.login-btn{
  padding: 10px;
  width: 60%;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background: rgb(101,147,209);
  background: linear-gradient(90deg, rgba(101,147,209,1) 0%, rgba(124,232,245,1) 37%);
}
.login-btn:hover{
  opacity: 0.8;
}
.sign-in {
  padding-top: 30px;
  font-size: 25px;
  color: gray;
  font-weight: bold;
}
.sign-up{
  color: #51a5ff;
  cursor: pointer;
  text-align: center;
}
.sign-up:hover{
  text-decoration: #51a5ff underline;
}

.login-buttons {
  padding: 30px;
}


.google {
  color: white;
  background: #60bfff;
  padding: 7px 15px;
  font-size: 15px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.fa-google{
  color: white;
  font-size: 20px;
  padding-right: 15px;
}

.facebook {
  color: white;
  background: #60bfff;
  padding: 7px 15px;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}
.fa-facebook-f{
  color: white;
  font-size: 20px;
}
.metro {
  border: none;
  padding: 0;
  width: 70%;
  
}
.fb-cover{
  text-align: center;
}
.metro:hover{
  opacity: 0.6;
}

.google:hover{
  opacity: 0.6;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
